
FontAwesomeIcon:hover{
    -fx-cursor: hand;
}

.btns:hover{
    -fx-cursor: hand;
}

.accordion{
   -fx-background-color: #B2D742;
}
@font-face {
font-family: 'Swiss 721 Condensed BT';
font-style: normal;
font-weight: normal;
src: url("../fonts/Swiss721CondensedBT.woff");
}
.Text {
    -fx-font-family: Swiss 721 Condensed BT;
}