
FontAwesomeIcon:hover{
    -fx-cursor: hand;
}

.btns:hover{
    -fx-cursor: hand;
}
.tab{
    -fx-pref-width: 500px   ;
}
.tab-header-aligment{
    -fx-alignment: CENTER;
}
.accordion{
   -fx-background-color: #B2D742;
}
@font-face {
font-family: 'Swiss 721 Condensed BT';
font-style: normal;
font-weight: normal;
src: url("../fonts/Swiss721CondensedBT.woff");
}
.Text {
    -fx-font-family: Swiss 721 Condensed BT;
}